@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


body {
    font-family: var(--font-sans);
}   

@layer components {
    .btn-primary {
        @apply bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 transition;
    }
    .form{
        @apply flex flex-col gap-4 m-auto items-start p-8 py-12 w-80 sm:w-[352px] text-gray-500 rounded-lg shadow-xl border border-gray-200 bg-white
    }
    
    .input{
        @apply bg-white focus:outline-none  border border-gray-300 rounded-lg py-2 px-4 mt-2 block w-full appearance-none leading-normal;
    }
    .title{
        @apply uppercase font-black flex justify-center text-gray-400 ml-5 text-3xl tracking-wider;
    }

      
  .table-wrapper {
    position: relative;
    border-radius: 0.1rem;
    overflow: hidden;
  
    &::after {
      --shadow-size: 10px;
      content: "";
      position: absolute;
      inset: 0;
      box-shadow: inset 0 calc(var(--shadow-size) * -1) var(--shadow-size) calc(var(--shadow-size) * -1) rgb(0 0 0 / 0.35);
      pointer-events: none;
    }
  }
  
  .table-container {
    max-height: 35rem;
    overflow: auto;
    height: 100%;
  }
  
  table {
    width: 100%;
    border-collapse: separate; /* make border sticky */
  }
  
  th,
  td {
    border: none;
    padding: 0.5rem 2rem;
    text-align: center;
    &:last-of-type {
      text-align: right;
    }
  }
  
  th {
    background-color: #d0f0ee;
    color: #15928a;
    font-weight: bold;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #15928a;
  }
  
  tbody {
    tr:nth-of-type(even) {
      background-color: hsl(0 0 95);
    }
  }
}